/* ======================== */
/*   Admin UI               */
/* ======================== */

.fieldset-legend span.summary {
  display: inline-block;
}

.page-user-staff-profile .form-type-multiselect,
.page-user-staff-profile div.multiselect {
  overflow: hidden !important;
}

/* +++ multiselect display flix +++ */
ul.multiselect_btns {
  list-style: none !important;
  margin: 10px 10px 0px 20px !important;
}

/* ======================== */
/*   Global Navigation      */
/* ======================== */

.row.staff-directory-nav {
  padding: 0;
  margin-bottom: 20px;
  background-color: #235f9c;
  margin: 0 0 20px 0;
}

.staff-directory-nav .browse-buttons {
  padding-left: 0;
}

@media (max-width: 992px) {
  .staff-directory-nav .browse-buttons {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .staff-directory-nav .btn.btn-link {
    font-size: 14.5px;
    padding: 10px 8px;
  }
}

@media (max-width: 500px) {
  .staff-directory-nav .browse-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  .staff-directory-nav .browse-buttons .btn-link {
    flex: 1 1 50%;
  }
}

.staff-directory-nav .btn.btn-link {
  color: #eee;
  font-weight: bold;
  line-height: 44px;
}



.staff-directory-nav .btn.btn-link:hover, .staff-directory-nav .btn.btn-link:focus {
  color: white;
}

.staff-directory-nav .btn.btn-link.active {
  color: white;
  background: #1c4d7d;
}


#staff-search-form {
  margin: 10px 0 10px 0;
}

#staff-search-form .form-group {
  margin-bottom: 0;
}

#staff-search-form input#name {
  background: #1c4d7d;
  border-color: #1c4d7d;
  color: white;
}

#staff-search-form #search {
  background: #1c4d7d;
  padding: 0 15px;
}

#staff-search-form input#name::placeholder {
  color: #ddd;
}

.ui-widget.ui-autocomplete a {
  font-family: "Source Sans Pro", Calibri, Candaa, Arial, sans-serif !important;
  font-size: 16px;
}


/* hide search for subject specialists page */
body.page-about-directory-subject-specialists #staff-search-form {
	display: none !important;
}




/* ======================== */
/*   All Departments Page   */
/* ======================== */


.all-depts .dept-group {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
  margin-bottom: 30px;
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
}

.all-depts .dept-group .panel-heading {
  border-left: 8px solid #a1b70d;
}

.all-depts .dept-group .panel-body {
  padding-left: 23px;
}

.all-depts .dept-1 .dept-name {
  font-size: 26px;
  font-weight: bold;
}

.all-depts .dept-1 .dept-head {
  font-size:19px;
  margin-bottom: 10px;
}

.all-depts .dept-1 .dept-head-name {
  font-weight: bold;
}

.all-depts .dept-2 {
  margin-bottom: 24px;
}

.all-depts .dept-2 .dept-name {
  font-weight: bold;
  font-size: 20px;
}

.all-depts .dept-2 .dept-head {
  color: #555;
  line-height: 1.2em;
}

.all-depts .dept-2 .dept-head-name {
  font-weight: bold;
}

.all-depts .dept-2 .dept-head-title {
  font-size: 16px;
}

.all-depts .dept-2 .dept-2-children {
  border-left: 8px solid #ddd;
  padding-left: 12px;
  margin-top: 16px;
}

.all-depts .dept-3 {
  margin-bottom: 14px;
}

.all-depts .dept-3 .dept-name {
  font-size: 18px;
  margin-bottom: 14px;
}

.all-depts .dept-3 .dept-head {
  margin-bottom: 10px;
  color: #555;
}

.all-depts .dept-3 .dept-head-name {
  font-size:16px;
}

.all-depts .dept-3 .dept-head-title {
  font-size: 15px;
}

.all-depts .dept-4 {
  margin-left: 20px;
}


.all-depts .contact-info {
  display: inline;
  float: right;
  column-count: auto;
  color: #555;
  font-size: 17px;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
}


#dept-filter-results {
  display: none; /* hide this list by default */
  min-height: 250px;
}

/* =================== */
/*   Department Page   */
/* =================== */

/* Hide the main page title on individual dept pages; it is    */
/* instead rendered in the main content column to the right of */
/* the department nav sidebar. */

body[class*='page-about-directory-dept-'] #page-header {
  display: none;
}

.dept-info {
  padding-bottom: 11px;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid #e6e6e6;
}

.dept-description {
  margin-bottom: 20px;
}

.dept-about-column {
  margin-bottom: 20px;
}

.dept-about-column + .dept-contact-info-column {
  border-left: 1px dotted #ddd;
}

@media (max-width: 992px) {
  .dept-about-column + .dept-contact-info-column {
    border-left: none;
  }
}

.dept-about-column + .dept-contact-info-column.one-column ul.contact-info {
  column-count: 1;
}

ul.contact-info {
  column-count: 2;
  margin-bottom: .5em;
}

ul.contact-info li {
  padding-left: 24px;
  position: relative;
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
}

ul.contact-info li.contact-email {
  word-wrap: break-word;
}

ul.contact-info li::before {
  font-family: FontAwesome;
  display: inline-block;
  width: 18px;
  position: absolute;
  left: 0;
  color: #a1b70d;
}


ul.contact-info li.contact-email::before {
  content: "\f0e0";
}
ul.contact-info li.contact-fax::before {
  content: "\f1ac";
}
ul.contact-info li.contact-phone::before {
  content: "\f095";
}
ul.contact-info li.contact-box::before {
  content: "\f01c";
}
ul.contact-info li.contact-address::before {
  content: "\f041";
}
ul.contact-info li.pronouns::before {
  content: "\f007";
}

.dept-contact-info-column .contact-url.btn {
  color: #333;
  padding-right: 1em;
  padding-left: .5em;
  margin-bottom: .5em;
}
.dept-contact-info-column .contact-url.btn .fa {
  color: rgba(0,0,0,.35);
  margin-right: .25em;
}
.dept-contact-info-column .contact-url.btn:hover {
  color: #fff;
}
.dept-contact-info-column .contact-url.btn:hover .fa {
  color: rgba(255,255,255,.65);
}




/* ======================== */
/*   Dept Sidebar Nav       */
/* ======================== */

.dept-nav a.collapse-control {
  float: right;
  margin-left: 10px;
  font-size: 0.8em;
  text-decoration: none;
}

.dept-nav .collapse-control:before {
  content: "\f077";
  font-family: FontAwesome;
}

.dept-nav .collapse-control.collapsed:before {
  content: "\f078";
  font-family: FontAwesome;
}

.dept-nav .panel-heading.active {
  background: #e7edc2;
  color: #4a6007;
  border-left: 4px solid #a1b70d;
  padding-left: 11px;
}

.dept-nav .panel-title {
  font-size: 18px;
}

.dept-nav .list-group-item {
  border-color: #eee;
}

.dept-nav .list-group-item.active {
  background-color: white;
  border-left: 4px solid #a1b70d !important;
  padding-left: 11px;
}

.dept-nav .list-group-item.active:hover {
  background-color: white;
}

.dept-nav .list-group-item.active > a:not(.collapse-control) {
  font-weight: bold;
}

.dept-nav .dept-3 {
  border-top: 1px solid #ddd;
  padding-left: 0;
  font-size: 15px;
  padding-top: 15px;
  margin-top: 15px;
}

.dept-nav .dept-3 li {
  margin-bottom: 0.8em;
  line-height: 1.2em
}


.dept-nav .dept-3 > li > a.active {
  font-weight: bold;
  margin-left: -11px;
}

.dept-nav .dept-3 > li > a.active::before {
  content: "\f0da";
  font-family: FontAwesome;
  color: #a1b70d;
  margin-right: 6px;
  display: inline-block;
}

.dept-nav .dept-3 > li > a.active::before:hover {
  text-decoration: none !important;
}

.dept-nav .dept-4 {
  padding-left: 0;
  padding-top: 0.5em;
  font-size: 14px;
}

.dept-nav .dept-4 > li > a::before {
  content: "\2014"; /* mdash */
  color: #ccc;
  margin-right: 6px;
  display: inline-block;
}

.dept-nav .dept-4 > li > a.active {
  font-weight: bold;
}

.dept-nav .dept-4 > li > a.active::before {
  content: "\f0da";
  font-family: FontAwesome;
  color: #a1b70d;
  margin-right: 6px;
  display: inline-block;
}

.people-grid {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(7, 1fr);
}

.dept-view .people-grid {
  grid-template-columns: repeat(5, 1fr);
}

/* IE 10+ hack: use flexbox layout instead of CSS grid (unsupported) */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .people-grid {
    display: flex !important;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .person-wrap {
    width: 150px;
    margin-right: 18px;
    margin-bottom: 1em;
  }
}

/* Refine alignment for grid at various viewports     */
/* .dept-view distinguishes the pages with a sidebar  */

@media (max-width: 1200px) {
  .people-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .dept-view .people-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .people-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .dept-view .people-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .people-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .dept-view .people-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.people-grid .photo {
  margin-bottom: 10px;
}

img.person-thm {
  width: 100%;
  max-width: 280px;
  margin-bottom: 5px;
}

.person-name {
  font-weight: bold;
  font-size: 17.5px;
}

.person-job-title {
  font-size: 90%;
  font-size: 15.5px;
  color: #555;
}

.browse-more-people {
  padding: 50px 10px;
  border: 2px solid #a1b70d;
  display: block;
  text-align: center;
  min-height: 200px;
}

.browse-more-people:hover {
  background-color: #fafafa;
}

/* ======================== */
/*   Executive Group        */
/* ======================== */

/* Hide the main page title on EG page; it is    */
/* instead rendered in the main content column to the right of */
/* the department nav sidebar. */

body[class*='page-about-directory-executive-group'] #page-header {
  display: none;
}

.eg-member {
  margin-bottom: 40px;
}

.eg-member .person-name {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 5px;
}

.eg-member .person-job-title {
  font-size: 18px;
  color: #555;
  font-weight: bold;
}

.eg-member ul.contact-info {
  border-top: 1px dotted #ccc;
  padding-top: 15px;
  margin-top: 15px;
  color: #555;
  font-size: 16px;
}

.eg-member ul.contact-info li {
  margin-bottom: 0.4em;
  line-height: 1.2em;
}

@media (max-width: 768px) {
  .eg-member ul.contact-info {
    column-count: auto;
  }
}

.eg-member ul.eg-responsibilities {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dotted #ccc;
}

.eg-member ul.eg-responsibilities > li {
  font-weight: bold;
}

.eg-member ul.eg-responsibilities > li > ul {
  margin-top: 15px;
}

.eg-member ul.eg-responsibilities > li > ul > li {
  font-weight: normal;
  border-left: 8px solid #ddd;
  padding-left: 12px;
  font-size: 16px;
}


/* =============== */
/*   Person Page   */
/* =============== */

/* Hide the main page title on person pages; it is    */
/* instead rendered in the main content column */

body[class*='page-about-directory-staff-'] #page-header {
  display: none;
}

.person-view .person-title {
  margin-top: .5em;
}

.person-view .person-job-title {
  font-size: 1.5em;
  margin-top: .5em;
  margin-bottom: 1em;
  font-weight: 300;
}

.person-view .contact-wrap {
  padding-right: 20px;
  border-right: 1px solid #ddd;
  box-shadow: 18px 7px 8px -17px rgba(0,0,0,0.10);
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .person-view .contact-wrap {
    box-shadow: none;
    border-right: none;
  }
}

.person-view .photo {
  margin-bottom: 20px;
}

.person-view ul.contact-info {
  column-count: auto;
  margin-bottom: 0;
}

.person-view ul.contact-info li {
  margin-bottom: 0.25em;
}

.person-view ul.contact-info li.contact-email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.person-view ul.contact-info li.contact-box {
  margin-bottom: 15px;
}

.person-view ul.contact-info.contact-addresses {
  font-size: 16.5px;
}

.person-view .contact-label {
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: .05em;
}

.person-view .scheduler-button {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  border-radius: 3px;
  margin-bottom: 15px;
  font-size: 16.5px;
  padding: 12px;
}

.person-view .person-content.row {
  margin-bottom: 20px;
}

.person-view .person-content h2 {
  font-size: 1.75em;
  font-weight: 400;
}

.person-view .person-content:after {
  content: "";
  display: table;
  clear: both;
}

.trainings li {
  padding-left: 30px;
  /* NOTE: background-image is set inline, pulled from db */
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 0 5px;
  position: relative;
  margin-bottom: 0.4em;
}

.trainings li:not(.custom-icon)::before {
  position: absolute;
  left: 0;
  content: "\f058";
  font-family: FontAwesome;
  display: block;
  margin-left: 0em;
  width: 20px;
  height: 20px;
  color: #888;
  font-size: 23px;
  vertical-align: middle;
  float: left;
  line-height: 1em;
}



/* icon links */

.icon-links {
  margin-bottom: 1em;
}

.icon-links .item {
  display: inline-block;
  margin-left: 1em;
}

.icon-links .item:first-of-type {
  margin-left: 0;
}

.icon-links .item a {
  text-decoration: none !important;
  display: block;
  font-size: inherit;
  font-size: .8em;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  padding: 2px 6px 3px 6px;
}

.icon-links .item a::before {
  content: ' ';
  display: inline-block;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: cover; 
  margin-right: .35em;
  top: 3px;
  position: relative;
}

.icon-links .item a.scholars-icon-link::before {
  background-image: url(/sites/all/modules/dul_system/dul_staff/images/scholars-at-duke-icon.png);
}

.icon-links .item a.orcid-icon-link:before {
  background-image: url(/sites/all/modules/dul_system/dul_staff/images/orcid_32x32.png);
}

section.departments,
section.research-guides {
  clear: both;
}


/**
 * Hide/Show 
 */

.expandable-content-wrapper[aria-expanded=false] .expandable-content-controls .show-control.more {
  display: inline;
}

.expandable-content-wrapper[aria-expanded=true] .expandable-content-controls .show-control.less {
  display: inline;
}

.expandable-content-controls .show-control {
  display: none;
  float: right;
}

.expandable-content-wrapper .contracted {
  position: relative;
  overflow: hidden;
  margin-bottom: .25em;
  max-height: 10.25em;
}


.expandable-content-wrapper .contracted:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: .5em;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(33,33,33,.025) 100%);
  /*background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);*/
  border-bottom: 1px solid #e6e6e6;
}



/* ======================== */
/*   Browse / ABC           */
/* ======================== */

.abc-nav {
  margin-bottom: 30px;
}

.abc-nav .btn-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.abc-nav a.btn {
  padding: 10px 5px;
  flex: 1 1 auto;
}

/* Split letter nav to two rows below this breakpoint */
@media (max-width: 992px) {
  .abc-nav a.btn {
    flex: 1 1 7%;
  }
}

.abc-nav a.btn.active {
  background: #e7edc2;
  color: #4a6007;
  border: 1px solid #a1b70d;
}

@media (max-width: 768px) {
  .abc-nav a.btn {
    padding: 10px 10px;
  }
}


@media (max-width: 500px) {
  .abc-nav a.btn {
    flex: 1 1 11%;
  }
}


/* ======================== */
/*   Subject Specialists    */
/* ======================== */

form.directory-filter {
  margin-bottom: 15px;
}

form.directory-filter label {
  display: block;
  color: #333;
}

form.directory-filter input {
  min-width: 20em;
  font-size: 22px;
  padding: 5px 40px 5px 10px;
  position: relative;
  border: 1px solid #aaa;
}

form.directory-filter .search-wrapper {
  display:inline-block;
  position: relative;
}
.search-wrapper:after {
  font-family: 'FontAwesome';
  content: '\f002';
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 26px;
  color: #767676;
}


.subject-specialists h2.subject-title {
  font-size: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.subject-specialist-row {
  margin-bottom: 15px;
}

.subject-specialists .person-name {
  font-size: 20px;
}

.subject-specialists .person-job-title {
  font-size: 17px;
}

.subject-specialists ul.contact-info {
  column-count: auto;
}

.subject-specialists ul.subject-specialist-actions li {
  margin-bottom: 5px;
}




/* ================== */
/*   Kiosk Content    */
/* ================== */

body.page-about-directory-kiosk #content {
  width: 1840px;
}

body.page-about-directory-kiosk #mast,
body.page-about-directory-kiosk #page-header,
body.page-about-directory-kiosk #footer-dulcet {
  display: none;
}

body.page-about-directory-kiosk .abc-nav {
  position: fixed;
  width: 1840px;
  z-index: 1000;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
}

body.page-about-directory-kiosk .people-row {
  margin-top: 5em;
  border-top: 3px dotted #ccc;
  padding-top: 5em;
  margin-left: 15px;
  margin-right: 15px;
}

body.page-about-directory-kiosk .people-row:first-child {
  margin-top: 0;
  border-top: none;
}

body.page-about-directory-kiosk .people-grid {
  grid-gap: 3em;
  grid-template-columns: repeat(6, 1fr);
}

body.page-about-directory-kiosk .person-name {
  font-size: 1.25em;
  line-height: 1.2;
}

body.page-about-directory-kiosk .person-job-title {
  font-style: italic;
  line-height: 1.2;
  font-size: 1.1em;
}

body.page-about-directory-kiosk ul.contact-info {
  column-count: 1;
  margin-top: .5em;
}